* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p, svg {
    color: var(--main-color-font);
}

body {
    font-family: 'Lato', sans-serif;
    background: var(--main-color-background);
}

h3, h4 {
    font-weight: 400;
}


nav h1 {
    flex-grow: 1;
}

nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 85%;
    margin: auto;
}

button {
    color: var(--main-color-font);
    background: transparent;
    cursor: pointer;
    padding: 0.6rem;
    border: 1px solid var(--main-color-font);
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--main-color-font);
    color: var(--main-color-background);
}

button:hover svg {
    color: inherit
}

input {
    border: none;
    outline: none;
}

::placeholder {
    color: var(--main-color-font);
}

:root {
    --main-color-background: rgb(255, 255, 255);
    --main-color-font: rgb(52, 52, 52);
    --main-color-selected: rgb(173, 216, 230);
    --main-color-hover: rgba(173, 216, 230, 0.5);
}
